
.boxBar {
	width: 100%;
	
	padding-bottom: 1em;
}

.boxBar .textBar {
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(53, 53, 53);
	
	margin: 0;
}

.boxBar .backgroundBar {
	background-color:  rgba(216, 216, 216, 0.733);
	width: 100%;
}

.boxBar .bar {
	display: inline-block;
	background-color: rgb(46, 46, 46);
	
	display: inline-block; 
	line-height: 2em;
	width: 33%;
	
	border-radius: 2px;
}
